/* =========================================================
body
========================================================= */

@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
html {
  letter-spacing: 0.03em;
  /* line-height: 1.3rem; */
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, メイリオ, "Noto Sans JP", sans-serif;
  background-color: rgb(4 255 229);
  background: repeating-linear-gradient( to top,rgba(0, 238, 255, 0.06) 0px 2px,transparent 2px 4px ),linear-gradient(to bottom,rgb(7, 41, 38) 75%,rgb(0, 67, 61));
  /* background: repeating-linear-gradient( to top,rgba(255,255,255,0.03) 0px 2px,transparent 2px 4px ),linear-gradient(to bottom,rgb(255 130 0) 75%,rgb(0 0 0)); */
  /* background-size: 20px 2px; */
  background-size: 20px 5px;
}

img {
  width: 100%;
}

/* =========================================================
header
========================================================= */

.head {
  width: 100%;
  position: fixed;
  background-color: rgb(0 0 0);
  display: block;
  z-index: 1;
}

.head_wrap { /* ヘッダーの内包部 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.logo {
  width: 100px;
  padding-top: 7px;
  padding-left: 10px;
}

.global-nav {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav_toggle-menu {
  background: rgb(240 103 255);
  position: absolute;
  right: 2rem;
  top: 21.5px;
}

a {
  text-decoration: none;
}

span {
  font-size: 15px;
  color: rgb(255 255 255);
  font-weight: bold;
}

.nav_text {
  font-size: 20px;
  color: rgb(255 255 255);
  font-weight: bold;
}

.nav_menu a {
  display: block;
  padding: 0.5rem 0.25rem;
  margin-left: -25px;
  border-left: 4px solid transparent;
}

.nav_menu.active a {
  border-left-color: rgb(34 34 34);
}

@media (min-width: 769px) {
  .head {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0 0 0);
  }

  .logo {
    width: 150px;
    padding-left: 20px;
  }

  .nav_toggle-menu {
    display: none;
  }

  .nav_wrap { /* ナビの内包部 */
    display: flex;
    justify-content: center;
  }

  .nav_menu { /* ナビの一覧 */
    min-width: 140px;
  }

  .nav_menu a {
    text-align: center;
    border-bottom: 4px solid transparent;
  }

  .nav_menu.active a {
    border-bottom-color: rgb(34 34 34);
  }
}

@media (max-width: 768px) {
  .nav_wrap { /* ナビの内包部 */
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(0 0 0);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav_wrap.active { /* ナビのアクティベーション */
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================================================
main
========================================================= */

main {
  padding-top: 90px;
  display: block;
  overflow: hidden;
}

img {
  width: 80%;
  display: block;
  margin: auto;
}

p {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255 255 255);
  margin-bottom: 10px;
}

.info {
  padding: 40px 0 20px;
  text-align: center;
}

/* 通常 */
.cm-s-default {
  color: white;
  text-shadow: 0 0 2px rgb(16 12 15),0 0 35px #ffffff44,0 0 5px white,0 0 50px white;
}

/* ハロウィン仕様 */
/* .cm-s-default {
  color: rgb(255, 123, 0);
  text-shadow: 0 0 20px rgb(255, 123, 0),0 0 35px rgb(255, 123, 0),0 0 5px rgb(255, 123, 0),0 0 50px darkorange;
} */

.store-name {
  color: rgb(255 255 255); /* 通常 */
  /* color: orange; ハロウィン仕様 */
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 60px;
  text-decoration: underline;
}

.info > * {
  margin: 0 auto 64px;
}

.info > *:last-child {
  margin-bottom: 0;
}

.info #information {
  margin-top: -125px;
  padding-top: 90px;
  z-index: -1;
}

.info .block {
  padding-top: 50px;
  margin-top: -130px;
}

.info-title {
  padding: 5px 0 1px;
  text-align: center;
}

.info-title > * {
  display: block;
}

.info-title .en {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.04em;
  color: rgb(255 255 255);
}

.info-title .ja {
  margin: 13px auto 0;
  color: rgb(106 107 111);
  font-size: 13px;
  line-height: 1;
}

.menu-title {
  padding: 64px 0 1px;
  text-align: center;
  color: rgb(255 255 255);
}

.menu-title > * {
  display: block;
}

.menu-title .en {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif JP", serif;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.04em;
}

.menu-title .ja {
  margin: 13px auto 0;
  color: rgb(106 107 111);
  font-size: 13px;
  line-height: 1;
}

@media screen and (min-width: 769px) {
  main {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }

  img {
    width: 60%;
    display: block;
    margin: auto;
  }

  .info {
    padding: 50px 45px 30px;
  }

  .store-name {
    color: rgb(255 255 255); /* 通常 */
    /* color: orange; ハロウィン仕様 */
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    text-decoration: underline;
  }

  .info > * {
    margin: 0 auto 35px;
  }

  .info #information {
    margin-top: -72px;
    padding-top: 72px;
  }

  .info .block {
    padding-top: 50px;
    margin-top: -80px;
  }

  .info .block {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
  }

  .info-title {
    padding: 5px 0 0;
  }

  .info-title .en {
    font-size: 32px;
    color: rgb(255 255 255);
  }

  .info-title .ja {
    margin: 16px auto 0;
    font-size: 14px;
  }

  .menu-title {
    padding: 40px 0 20px;
    color: rgb(255 255 255);
  }
  .menu-title .en {
    font-size: 32px;
  }

  .menu-title .ja {
    margin: 16px auto 0;
    font-size: 14px;
  }
}

/* =========================================================
information-data
========================================================= */

.information-data {
  padding: 0 20px;
}

.information-data .column {
  padding: 10px 0;
  /* border-top: 2px solid rgb(255 255 255); */
  border-bottom: 1px solid rgb(206 209 216);
  font-size: 15px;
  line-height: 1.8;
  font-weight: bold;
  letter-spacing: 0.1em;
  position: relative;
  color: rgb(255 255 255);
}

.information-data .column .note {
  max-width: calc(100% - 7em);
  font-size: 11px;
  color: rgb(106 107 111);
  letter-spacing: 0;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: rgb(255 255 255);
}

.information-data .bundle {
  padding: 20px 0;
  border-bottom: 1px solid rgb(206 209 216);
  font-size: 13px;
  line-height: 2.0769230769;
  display: flex;
  align-items: center;
}

.bundle2 {
  padding: 20px 0;
  border-bottom: 1px solid rgb(206 209 216);
  font-size: 13px;
  line-height: 2.0769230769;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media (min-width: 769px) {
  .information-data {
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 0;
  }

  .information-data .column {
    padding: 13px 0;
    font-size: 18px;
    line-height: 1.6875;
    color: rgb(255 255 255);
  }

  .information-data .column .note {
    display: inline;
    width: auto;
    margin: 0 0 0 100px;
    position: relative;
    transform: none;
    color: rgb(255 255 255);
  }

  .information-data .bundle {
    padding: 18px 0;
    font-size: 14px;
    line-height: 1.9285714286;
  }

  .bundle2 {
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.9285714286;
    flex-direction: row-reverse;
  }
}

/* =========================================================
data-list
========================================================= */

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

/* =========================================================
information-data dt, dd, modified, unmodified
========================================================= */

.information-data dt {
  width: 115px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255 255 255);
}

.information-data dd {
  width: calc(100% - 115px);
  font-size: 15px;
  font-weight: bold;
  color: rgb(255 255 255);
}

.information-data dd a {
  text-decoration: underline;
  color: rgb(255 255 255);
}

.modified {
  width: 115px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(0, 255, 0);
}

.unmodified {
  width: 115px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 0, 0);
}

.txt {
  font-size: 15px;
}

@media (min-width: 769px) {
  .information-data dt {
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255 255 255);
  }

  .information-data dd {
    width: calc(100% - 170px);
    font-size: 20px;
    font-weight: bold;
    color: rgb(255 255 255);
  }

  .modified {
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 255, 0);
  }

  .unmodified {
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
  }

  .txt {
    font-size: 20px;
  }

  .information-data dd a {
    font-size: 20px;
    color: rgb(255 255 255);
  }

  .information-data dd a[href*=tel] {
    display: none;
    color:rgb(255 255 255);
  }
}

@media (min-width: 1025px) {
  .information-data dd {
    /* display: flex; */
    align-items: center;
    color: rgb(255 255 255);
  }
/*  .information-data dd br {
    display: none;
    color: rgb(255 255 255);
  }
}

  .information-data dd .txt {
    width: 65%;
    padding: 0 5% 0 0;
    color: rgb(255 255 255);
  }
}

  .information-data dd .link {
    width: 35%;
    color: rgb(255 255 255);
  } */
}

/* =========================================================
footer
========================================================= */

footer {
  padding: 40px 0 10px;
  text-align: center;
}

footer .foot {
  color: rgb(255 255 255);
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
}

@media (min-width: 769px) {
  footer {
    padding: 40px 0 10px;
    text-align: center;
  }

  footer .foot {
    color: rgb(255 255 255);
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
  }
}